amqp==2.2.2
backports.ssl-match-hostname==3.5.0.1
billiard==3.5.0.3
bleach==2.1.1
blinker==1.4
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.4.2
csvalidate==1.1.1
docker-py==1.10.6
docker-pycreds==0.2.1
dominate==2.3.1
Flask
Flask-Bootstrap==3.3.7.1
Flask-Celery==2.4.3
Flask-CLI==0.4.0
Flask-Config==0.2.1
Flask-CSV==1.0.1
#Flask-DBMigrate==0.1
Flask-Debug==0.4.3
Flask-Docker==0.2.0
Flask-Email==1.4.4
Flask-Factory==0.1.0.dev0
Flask-HTTPAuth==3.2.3
Flask-JSON==0.3.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Moment==0.5.2
Flask-MongoAlchemy==0.7.2
Flask-MQTT==0.0.9
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
Flask-PageDown==0.2.2
Flask-Pika==0.3.8
Flask-PyMongo==0.5.1
Flask-Redis==0.3.0
Flask-REST==1.1
Flask-Script==2.0.6
Flask-Settings==0.0.3
Flask-SQLAlchemy==2.3.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
html5lib==1.0b10
httpie==0.9.9
idna==2.6
inflection==0.3.1
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
Markdown==2.6.9
MarkupSafe==1.0
marshmallow==2.14.0
MongoAlchemy==0.19
#mysqlclient==1.3.12
mysqlclient
paho-mqtt==1.3.1
pika==0.10.0
Pygments==2.2.0
pymongo==2.8.1
PyMySQL==0.7.11
pytz==2017.3
redis==2.10.6
requests==2.18.4
selenium==3.7.0
six==1.11.0
SQLAlchemy==1.1.15
typing==3.6.2
urllib3==1.22
vine==1.1.4
visitor==0.1.3
webencodings==0.5.1
websocket-client==0.44.0
#Werkzeug==0.12.2
Werkzeug
WTForms==2.1
