{% extends "base.html" %}
{% block title %}User - Delete Confirm {% endblock %}
{% block body %}
    {% include 'top.html' %}
    {% include 'breadcrumb.html' %}
    <div class="section__content--p30 section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <!--div class="card-header">
                            <strong>Normal</strong> Form
                        </div-->
                        <div class="card-body card-block">
                            <form action="./create_user" method="POST" class="">
                                <div class="form-group">
                                    <label for="nf-email" class=" form-control-label">User Name</label>
                                    {{ userform.username(type="text",id="new_username",placeholder="User Name..",class="form-control") }}
                                    {%  if userform.username.errors %}
                                        {% for error in userform.username.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                        {% else %}
                                        <span class="help-block">Please enter your user name</span>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <label for="nf-password" class=" form-control-label">Password</label>
                                    {{ userform.password(type="password",id="new_password",placeholder="Enter Password..",class="form-control") }}
                                    {%  if userform.username.errors %}
                                        {% for error in userform.password.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <span class="help-block">Please enter your password</span>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- end document-->