{% extends 'base.html' %}
{% block title %}Media Type List {% endblock %}
{% block body %}
         {% include 'top.html' %}
         {% include 'breadcrumb.html' %}
    <!-- Bootstrap Core Css -->
    <link href="/static/css/photos.css" rel="stylesheet" >
         <div class="page-content--bgf7">
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8">
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">Actor Details</h3>
                                <div class="table-responsive vue-lists">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                            <tr>
                                                <td><li>Name:</li></td>
                                                <td>有贺美穗</td>
                                            </tr>
                                            <tr>
                                                <td><li>Sex:</li></td>
                                                <td>Female</td>
                                            </tr>
                                            <tr>
                                                <td><li>Country:</li></td>
                                                <td>Japan</td>
                                            </tr>
                                            <tr>
                                                <td><li>Type List:</li></td>
                                                <td>Actor, 成人演员</td>
                                            </tr>
                                            <tr>
                                                <td id="actor-description-title"><li>Description:</li></td>
                                                <td id="actor-description-title"></td>
                                            </tr>
                                            <tr class="col col-lg-12">
                                                <td id="actor-description" colspan="2">
                                                    <p>
                                                        生年月日: 1975年10月27日
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <a type="button" class="btn btn-warning btn-sm" href="/actor/all">
                                    <i class="fa fa-angle-double-left"></i>&nbsp;Back to All
                                </a>
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="chart-percent-1">
                                <div class="mx-auto d-block">
                                    <div class="mb-1">
                                        <img class="img-responsive thumbnail" alt="1559" data-toggle="modal" data-target="#6" src="/static/media/image-gallery/4.jpg">
                                    </div>
                                    <!-- modal large -->
    			                    <div class="modal fade text-center" id="6" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" style="display: inline-block; width: auto;" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <img src="/static/media/image-gallery/4.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end modal large -->
                                </div>
                            </div>
                            <!-- CHART PERCENT-->
                            <div class="chart-percent-2">
                                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                <div class="col-lg-6">
                                    <img class="img-responsive thumbnail" alt="1559" data-toggle="modal" data-target="#6" src="/static/media/image-gallery/4.jpg">
                                    <!--img class="mx-auto d-block" width="100%" heigth="100%" src="https://faws.xcity.jp/actress/large/image/person/1559.jpg" alt="Actor Thumb"-->
                                </div>
                                <div class="col-lg-6">
                                    <img class="img-responsive thumbnail" alt="1559" data-toggle="modal" data-target="#6" src="/static/media/image-gallery/4.jpg">
                                    <!--img class="mx-auto d-block" width="100%" heigth="100%" src="https://faws.xcity.jp/actress/large/image/person/1559.jpg" alt="Actor Thumb"-->
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
         </div>
{% endblock %}