{% extends "base.html" %}
{% block title %}Media Type - Delete Confirm {% endblock %}
{% block body %}
    {% include 'top.html' %}
    {% include 'breadcrumb.html' %}
    <div class="page-content--bgf7">
       <!-- DATA TABLE-->
       <section class="p-t-20">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="table-responsive table-responsive-data2">
                           <div class="col-md-6">
                               <div class="card">
                                    <div class="card-body">
                                        {% if mediatype %}
                                        <div class="alert alert-danger" role="alert">
                    	                    <h4 class="alert-heading">Confirm</h4>
                                            <br>
                	    	                <p>
                                                <div>ID : {{ mediatype.id }} </div>
                                                <div>User Name: {{ mediatype.name }} </div>
                                            </p>
                    		                <hr>
                    		                <p class="mb-0">Are you sure to delete the record?</p>
                    	                </div>
                                        <div align="right">
                                            <a role="button" href="/mediatype/mediatype_delete/{{ mediatype.id }}" class="btn btn-danger btn-sm">Delete</a>&nbsp;<a role="button" href="/users/all" class="btn btn-secondary btn-sm">Cancel</a>
                                        </div>
                                        {% else %}
                                        <div class="alert alert-danger" role="alert">
                    	                    <h4 class="alert-heading">Confirm</h4>
                    		                <p>
                                                There is nothing found.
                                            </p>
                        		            <hr>
                        		            <p class="mb-0">Are you sure the user is existed?</p>
                        	            </div>
                                        <div align="right">
                                            <a role="button" href="/mediatype/all" class="btn btn-secondary btn-sm">Cancel</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
  <!-- END DATA TABLE-->
    </div>
{% endblock %}

<!-- end document-->