{% extends 'base.html' %}
{% block title %}Actor List {% endblock %}
{% block body %}
         {% include 'top.html' %}
         {% include 'breadcrumb.html' %}
    <!-- Bootstrap Core Css -->
    <link href="/static/css/photos.css" rel="stylesheet" >
    <!-- Custom Css -->
    <link href="/static/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
         <div class="page-content--bgf7">
            <!-- DATA TABLE-->
            <section class="p-t-20">
                {% if photos %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="mr-2 fa fa-align-justify"></i>
									<strong class="card-title" v-if="headerText">{{ pagename }}</strong>
								</div>
								<div class="card-body">
                                    <!-- Button trigger modal -->
                                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                        {%  for photo in photos.items %}
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-1">
                                                <img class="img-responsive thumbnail" data-toggle="modal" data-target="#{{ photo.id }}" src="{{ photo.path }}">
                                            </div>
                                            <!-- modal large -->
    			                            <div class="modal fade text-center" id="{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                				<div class="modal-dialog modal-lg" style="display: inline-block; width: auto;" role="document">
    				                            	<div class="modal-content">
                                						<div class="modal-body">
                                                            <img src="{{ photo.path }}">
    						                            </div>
    				                            	</div>
    				                            </div>
                                			</div>
                                			<!-- end modal large -->
                                        </div>
                                        {% endfor %}
                                    </div>
								</div>
                            </div>
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="table-data__tool">
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                        <div class="table-data__tool-left">
                                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing {{ min_item }} to {{ max_item }} of {{ count_photos }} entries</div>
                                        </div>
                                        <div class="table-data__tool-right">
                                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                <ul class="pagination">
                                                {% if photos.has_prev %}
                                                    <li class="paginate_button previous" id="DataTables_Table_0_previous">
                                                        <a href="./{{ photos.prev_num }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Prev</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button previous disabled" id="DataTables_Table_0_previous">
                                                        <a href="./{{ photos.page }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Prev</a>
                                                    </li>
                                                {% endif %}
                                                    <li class="paginate_button active">
                                                        <a href="./{{ photos.page }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                                                    </li>
                                                {% if photos.has_next %}
                                                    <li class="paginate_button next" id="DataTables_Table_0_next">
                                                        <a href="./{{ photos.next_num }}" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">Next</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button next disabled" id="DataTables_Table_0_next">
                                                        <a href="./{{ photos.page }}" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">Next</a>
                                                    </li>
                                                {% endif %}
                                                </ul>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="mr-2 fa fa-align-justify"></i>
									<strong class="card-title" v-if="headerText">Photo List</strong>
								</div>
								<div class="card-body">
                                    <!-- Button trigger modal -->
                                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-1">
                                                <img class="img-responsive thumbnail" data-toggle="modal" data-target="#defaultmodal" src="/static/media/image-gallery/4.jpg">
                                            </div>
                                            <!-- modal large -->
    			                            <div class="modal fade" id="defaultmodal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                				<div class="modal-dialog modal-lg" role="document">
    				                            	<div class="modal-content">
                                						<div class="modal-body">
                                                            <img src="/static/media/image-gallery/4.jpg">
    						                            </div>
    				                            	</div>
    				                            </div>
                                			</div>
                                			<!-- end modal large -->
                                        </div>
                                    </div>
								</div>
                            </div>
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
                                        </div>
                                        <div class="table-data__tool-right">
                                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous disabled" id="DataTables_Table_0_previous">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Prev</a>
                                                    </li>
                                                    <li class="paginate_button active">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a>
                                                    </li>
                                                    <li class="paginate_button next disabled" id="DataTables_Table_0_next">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0">Next</a>
                                                    </li>
                                                </ul>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
            <!-- END DATA TABLE-->
         </div>

{% endblock %}